body{
    background-color: beige;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1{
    height:60%;
    width:40%;
    background-color: coral;
    text-align:center;
    line-height: 240px;
    color: white;
    font-size: 2em;
    animation-name:bxc;
    animation-delay:1s;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
@keyframes bxc{
    from{
        background-color: coral;
    }
    to{
        background-color: crimson;
        transform:rotate3d(1, 1, 1, 360deg);
    }
}

.box{
    height: 50%;
    width: 50%;
    background-color: black;
    text-align:center;
    line-height: 200px;
    color: white;
    font-size: 2em;
     /* animation: name duration timing-function delay iteration-count direction; */
    animation-name: boxChangeColor;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
}


@keyframes boxChangeColor{
    from{
        background-color:aqua;
    } 
    to{
        background-color: aquamarine;
        /* transform: scale(1.1); */
        /* transform: skew(5deg); */
        /* transform: rotate(90deg); */
        transform: translateY(100px);
     } 
     
    /* 0%{

    }
    25%{

    }
    50%{
        
    }
    100%{

    } */
/* } */